<template>
    <my-layoutflexbox>
    <div slot="nav">
      <nav class="top-bar">
        <div class="vue">Vue</div>
        <div class="menu">
          <ul>
            <li class="active size">
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <router-link to="/Accessmain">Iniciar Sesion</router-link>
            </li>
            <li>
              <router-link to="/Backoffice">Añadir un post</router-link>
            </li>
            <li class="right">
              <router-link to="/" @click.native="logOut">LogOut</router-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div slot="section">
      <router-view />
    </div>
    <div slot="footer">
    </div>
    </my-layoutflexbox>
  
</template>

<script>
export default {
  name: "app",
  methods: {
    logOut() {
      localStorage.clear();
    }
  }
};
</script>


<style>
* {
  font-family: "Raleway", sans-serif;
  margin: auto;
}
*{
  margin: 0;
  padding: 0;
}

nav {
  float: left; 
  background-color: #6bab90;
  position: fixed;
  display: flex;
  width: 100%;
  height: 90px;
  top: 0px;
  left: 0px;
  right: 0px;


}

.vue {
  color: #fff;
  flex: 1;
  font-size: 40px;
  padding: 20px;
  text-transform: uppercase;
}

.menu {
  flex: 3
}

.menu ul {
  display: flex;
  list-style: none;
  margin-top: 30px;
  flex-flow: row wrap;

}

.menu li {
  flex: 1;
  text-align: center;
}

.menu a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;

}


</style>


