<template>
  <div>
    <ul>
      
        <li class="separated" v-for="post in posts" :key="post._id">
          <my-card-vue :titulo.prop="post.title" :nickName.prop="post.nickName" :text.prop="post.text">
          <div slot="intruso">
          <router-link :to="`/Homemain/${post._id}`"><button> leer más</button></router-link>
          </div>
          </my-card-vue>
        </li>
    
    </ul>
  </div>
</template>


<script>
import { mapGetters } from "vuex";

export default {
  name: "app-allPost",
  beforeMount() {
    this.$store.dispatch("allPosts");
  },
  computed: {
    ...mapGetters(["posts"])
  }
};
</script>

<style scoped>
li {
  list-style: none;
}

.separated {
  padding-top: 20px;
  padding-bottom: 20px;
}

button {

  width: 15%;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #6bab90;
}

button:hover{ 
  background: #38a754;

}
</style>