<template>
  <div>
    <h1>
      <u>Los Detalles de un post</u>
    </h1>
    <div>
      <my-postdetail-vue
        :titulo.prop="post.title"
        :nickName.prop="post.nickName"
        :text.prop="post.text"
      ></my-postdetail-vue>
      <div>
        <div v-if="post.comments.length > 0">
          <h2>
            <u>
              <strong>Comentarios</strong>
            </u>
          </h2>
          <ul>
            <li v-for="item in post.comments" :key="item._id">
              <my-carddetail-vue :nickName.prop="item.nickName" :text.prop="item.comment"></my-carddetail-vue>
            </li>
          </ul>
        </div>

        <div v-else>
          <h3>No hay comentarios, se el primero en añadir uno. Ve añadir un post o inicia sesión</h3>
        </div>
      </div>
      <div class="route">
        <button @click="getBack()">Regresar</button>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";

export default {
  name: "app-postDetail",

  beforeMount() {
    const id = this.$route.params.id;
    this.$store.dispatch("onePost", id);
  },
  computed: {
    ...mapGetters(["post"])
  },

  methods: {
    async getBack() {
      await this.$router.push("/Homemain");
    }
  }
};
</script>

<style scoped>
h1,
h2,
h3 {
  text-align: center;
  margin: 30px;
}
li {
  list-style: none;
}

.route {
  margin: 20px;
  display: flex;
  justify-content: center;
}

button {
  width: 8%;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #6bab90;
}

button:hover {
  background: #38a754;
}
</style>