<template>
<div class="down">
  <div>
    <Panel header="Crear un Post">
      <form>
        <div class="input">
        <InputText id="author" v-model="post.author" type="text" placeholder="Autor" />
        <InputText id="nickName" v-model="post.nickName" type="text" placeholder="Apodo" />
        <InputText id="title" v-model="post.title" type="text" placeholder="Titulo" />
        <InputText id="text" v-model="post.text" type="text" placeholder="Texto" />
        </div>
        <div class="center">
            <Button label="Regresar" type="button" 
            @click.prevent="getBack()"
                icon="pi pi-arrow-circle-left"
                class="p-button-success"></Button>
            <Button label="Crear" type="button" 
            @click.prevent="newPost(post)"
            icon="pi pi-check"
                class="p-button-info">></Button>
        </div>
      </form>
    </Panel>
  </div>
</div>
</template>

<script>
import Panel from "primevue/panel";
import InputText from "primevue/inputtext";
import Button  from "primevue/button"

export default {
  name: "app-backCreatPost",

  components: {
    Panel,
    InputText,
    Button
  },

  data: () => {
    return {
      post: {
        author: "",
        nickName: "",
        title: "",
        text: ""
      }
    };
  },
  methods: {
    newPost(post) {
      this.$store.dispatch("newPost", post);
      this.$router.push("/BackOffice");
    },

    getBack() {
      this.$router.push("/BackOffice");
    }
  }
};
</script>

<style scoped>
.down {
  margin-top: 100px;
}

.input {
   margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  margin-bottom: 20px;
  text-align: center;
}

.center {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

</style>