<template>
  <div>
    <DataTable :value="posts">
      <template #header>
        <div class="header">
          <div>
            <h1>Lista de Post en Back-Office</h1>
          </div>
          <div style="line-height:3em" class="p-clearfix">
            <Button
              @click="goToCreatedPost()"
              label="Crear un Post"
              icon="pi pi-refresh"
              style="float: left"
            />
          </div>
        </div>
      </template>
      <Column field="title" header="Titulo" ></Column>
      <Column field="nickName" header="Apodo"></Column>
      <Column field="text" header="Texto"></Column>
      <Column headerStyle="width: 10em" bodyStyle="text-align: center">
        <template #header>
          <p>Acciones</p>
        </template>
        <template #body="slotProps">
          <Button @click="leerMas(slotProps.data._id)" icon="pi pi-eye" style="margin-right: .2em" />
          <Button
            @click="goToModifyPost(slotProps.data._id)"
            type="button"
            icon="pi pi-pencil"
            class="p-button-warning"
            style="margin-right: .2em"
          ></Button>
          <Button
            @click="deletePost(slotProps.data._id) "
            type="button"
            icon="pi pi-trash"
            class="p-button-danger"
          ></Button>
        </template>
      </Column>
      <template #footer>En total hay {{posts ? posts.length + 1 : 0 }} post(s).</template>
    </DataTable>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Button from "primevue/button";
import "primevue/resources/themes/saga-blue/theme.css";
import "primeicons/primeicons.css";

export default {
  name: "app-backOffice-allPost",
  components: {
    DataTable,
    Column,
    Button
  },
  

  beforeMount() {
    this.$store.dispatch("allPosts");
  },
  computed: {
    ...mapGetters(["posts"])
  },
 

  methods: {
   
    deletePost(id) {
      console.log('deletePost', id)
      this.$store.dispatch("deletePost", id);
    },

    goToCreatedPost() {
      this.$router.push("/Backoffice/CreatePost");
    },

    leerMas(id) {
      this.$router.push(`/Backoffice/PostDetail/${id}`);
    },

    goToModifyPost(id) {
      this.$router.push(`/Backoffice/${id}`);
    }
  }
};
</script>

<style scoped>
li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
}
</style>