<template>
  <div class="cont">
    <div class="form">
      <h1>Inicio sesión</h1>
      <input type="text" name="user" class="user" v-model="username" placeholder="Usuario" />
      <input
        type="password"
        name="password"
        class="pass"
        v-model="password"
        placeholder="Contraseña"
      />
      <button class="login" @click="login()">iniciar sesión</button>
      <p>
        Si no eres usuario , registrate antes
        <router-link :to="`/Accessmain/Registro`">Aqui</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import LoginService from "../../services/login.service";

export default {
  name: "app-login",
  data: () => {
    return {
      username: null,
      password: null
    };
  },
  methods: {
    async login() {
      try {
        const user = { username: this.username, password: this.password };
        await LoginService.login(user);
        await this.$router.push("/BackOffice");
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style  scoped>
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #3598dc;
}

.cont {
  padding: 15px;
  border: solid 1px black;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 30%;
  height: 470px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
}

.form {
  width: 100%;
  height: 100%;
}

h1,
p,
.user,
.pass {
  text-align: center;
  display: block;
}

h1 {
  color: #606060;
  font-weight: bold;
  font-size: 30px;
  margin: 30px auto;
}

.user,
.pass,
.login {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.user,
.pass {
  background: #ecf0f1;
}

.login {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #6bab90;
  /* transition: background 0.4s ease; */
}

.login:hover {
  background: #38a754;
}

@media only screen and (min-width: 280px) {
  .cont {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .cont {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .cont {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .cont {
    width: 30%;
  }
}
</style>