<template>
  <div class="cont">
    <div class="form">
      <h1>Registro</h1>
      <input type="text" class="user" name="user" v-model="username" placeholder="Usuario" />
      <input type="password" class="pass"  name="password" v-model="password" placeholder="Contraseña" />
      <select type="text"  class="user" name="role" v-model="role" placeholder="Usuario">
        <option   value="publisher">Editor</option>
        <option  value="admin">Administrador</option>
      </select>
      <button  class="login" @click="newUser()">registrate</button>
      <button  class="login" @click="getBack()">Regresar</button>
    </div>
  </div>
</template>

<script>
import LoginService from "../../services/login.service";
export default {
  name: "app-signUp",
  data: () => {
    return {
      username: null,
      password: null,
      role: null
    };
  },

  methods: {
    async newUser() {
      try {
        const newUser = {
          username: this.username,
          password: this.password,
          role: this.role
        };
        await LoginService.signUp(newUser);
        await this.$router.push("/Accessmain");
      } catch (error) {
        console.log(error);
      }
    },
    async getBack() {
      await this.$router.push("/Accessmain");
    }
  }
};
</script>

<style  scoped>
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #3598dc;
}

.cont {
  padding: 15px;
  border: solid 1px black;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 30%;
  height: 470px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
}

.form {
  width: 100%;
  height: 100%;
}

h1,
p,
.user,
.pass {
  text-align: center;
  display: block;
}

h1 {
  color: #606060;
  font-weight: bold;
  font-size: 30px;
  margin: 30px auto;
}


.center {
  text-align: center;
}
.user,
.pass,
.login {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.user,
.pass {
  background: #ecf0f1;
}

.login {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #6bab90;
  /* transition: background 0.4s ease; */
}

.login:hover {
  background: #38a754;
}

@media only screen and (min-width: 280px) {
  .cont {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .cont {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .cont {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .cont {
    width: 30%;
  }
}
</style>