<template>
<div class="down">
  <div>
    <Panel header="Modificar un Comentario">
      <form>
        <div class="input">
        <InputText id="nickName" v-model="comment.nickName" type="text" placeholder="Apodo" />
        <InputText id="comment" v-model="comment.comment" type="text" placeholder="Comentario" />
        </div>
        <div class="center">
            <Button label="Regresar" type="button" 
            @click.prevent="getBack()"
                icon="pi pi-arrow-circle-left"
                class="p-button-success"></Button>
            <Button label="Modificar" type="button" 
            @click.prevent="modifyComment(comment)"
            icon="pi pi-check-circle"
                class="p-button-info">></Button>
        </div>
      </form>
    </Panel>
  </div>
</div>
</template>

<script>
import Panel from "primevue/panel";
import InputText from "primevue/inputtext";
import Button  from "primevue/button"

export default {
  name: "app-backPostDetailMC",

  components: {
    Panel,
    InputText,
    Button
  },

  data: () => {
    return {
      comment: {
        nickName: "",
        comment: ""
      }
    };
  },
  methods: {
    async modifyComment(comment) {
      const id = this.$route.params.id2;
      const getToModifyComment = { id: id, comment: comment };
      this.$store.dispatch("modifyComment", getToModifyComment);
      await this.$router.push({ name: "backOfficePostDetail" });
    },

    getBack() {
    this.$router.push({ name: "backOfficePostDetail" });
    }
  }
};
</script>

<style scoped>
.down {
  margin-top: 150px;
}

.input {
   margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  margin-bottom: 20px;
  text-align: center;
}

.center {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
</style>