<template>
<div class="down">
  <div>
    <Panel header="Crear un Comentario">
      <form>
        <div class="input">
        <InputText id="nickName" v-model="comment.nickName" type="text" placeholder="Apodo" />
        <InputText id="comment" v-model="comment.comment" type="text" placeholder="Comentario" />
        </div>
        <div class="center">
            <Button label="Regresar" type="button" 
            @click.prevent="getBack()"
                icon="pi pi-arrow-circle-left"
                class="p-button-success"></Button>
            <Button label="Crear comentario" type="button" 
            @click.prevent="newComment(comment)"
            icon="pi pi-check-circle"
                class="p-button-info">></Button>
        </div>
      </form>
    </Panel>
  </div>
  </div>
</template>

  


<script>
import Panel from "primevue/panel";
import InputText from "primevue/inputtext";
import Button  from "primevue/button"

export default {
  name: "app-backPostDetailCC",

  components: {
    Panel,
    InputText,
    Button
  },
  data: () => {
    return {
      comment: {
        nickName: "",
        comment: ""
      }
    };
  },

  methods: {
    newComment(comment) {
        const id = this.$route.params.id;
        const getNewComment = { id: id, comment: comment}
        this.$store.dispatch('newComment', getNewComment);
        this.$router.push(`/Backoffice/PostDetail/${id}`);
      },
    

    getBack() {
      const id = this.$route.params.id;
      this.$router.push(`/Backoffice/PostDetail/${id}`);
    }
  }
}

</script>

<style scoped>

.down {
  margin-top: 150px;
}
.input {
   margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  margin-bottom: 20px;
  text-align: center;
}

.center {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
</style>