<template>
  <div>
    <Panel header="Los Detalles del Post">
      <div>
        <h1>
          <strong>{{post.title}}</strong>
        </h1>
        <h2>
          <i>de {{post.nickName}}</i>
        </h2>
        <p>{{post.text}}</p>
        <div class="center">
          <Button
            label="Crear un comentario"
            @click="goToCreatedCommnet()"
            icon="pi pi-comment"
            class="p-button-info"
          />
        </div>
      </div>
    </Panel>
    <div>
      <div v-if="post.comments && post.comments.length > 0">
        <DataTable :value="post.comments">
          <template #header>
            <div class="header">
              <div class="center">
                <h2>Comentarios</h2>
              </div>
            </div>
          </template>
          <Column field="nickName" header="Apodo"></Column>
          <Column field="comment" header="comentario"></Column>
          <Column headerStyle="width: 10em" bodyStyle="text-align: center">
            <template #header>
              <p>Acciones</p>
            </template>
            <template #body="slotProps">
              <Button
                @click.prevent="gotoModifyComment(slotProps.data._id)"
                type="button"
                icon="pi pi-pencil"
                class="p-button-warning"
                style="margin-right: .2em"
              ></Button>
              <Button
                @click="deleteComment(slotProps.data._id)"
                type="button"
                icon="pi pi-trash"
                class="p-button-danger"
              ></Button>
            </template>
          </Column>
          <template #footer>En total hay {{post.comments ? post.comments.length : 0 }} post(s).</template>
        </DataTable>
      </div>
      <div v-else>
        <Panel header="Advertencia !!">
          <h3>No hay comentarios, se el primero en añadir uno</h3>
        </Panel>
      </div>
    </div>
    <div class="center">
      <Button
        label="Regresar"
        icon="pi pi-arrow-circle-left"
        class="p-button-success"
        @click="getBack()"
      />
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Panel from "primevue/panel";
import Button from "primevue/button";
import DataTable from "primevue/datatable";
import Column from "primevue/column";

export default {
  name: "app-postDetail",
  components: {
    Panel,
    Button,
    DataTable,
    Column
  },

  beforeMount() {
    const id = this.$route.params.id;
    this.$store.dispatch("onePost", id);
  },
  computed: {
    ...mapGetters(["post"])
  },
  methods: {
    goToCreatedCommnet() {
      const id = this.$route.params.id;
      this.$router.push(`${id}/CreateComment`);
    },
    gotoModifyComment(ID) {
      const id = this.$route.params.id;
      console.log("gotoModifyComment id", id);
      console.log("gotoModifyComment ID", ID);
      this.$router.push(`${id}/ModifyComment/${ID}`);
    },

    deleteComment(id) {
      this.$store.dispatch("deleteComment", id);
    },

    getBack() {
      this.$router.push("/Backoffice");
    }
  }
};
</script>

<style scoped>
li {
  list-style: none;
}

h1,
h2,
h3,
p {
  text-align: center;
  padding-bottom: 15px;
}

.center {
  margin: 10px;
  display: flex;
  justify-content: center;
}
</style>